NEXT_PUBLIC_SUPABASE_URL=https://kmphhzjmtqkvqyfvgrke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttcGhoemptdHFrdnF5ZnZncmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1OTYwMjksImV4cCI6MjA3MjE3MjAyOX0.fY_NfcUgYtiAZxy2bPpLiJ-NSiIU2QdiOslmCtB57Oo
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttcGhoemptdHFrdnF5ZnZncmtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1OTYwMjksImV4cCI6MjA3MjE3MjAyOX0.fY_NfcUgYtiAZxy2bPpLiJ-NSiIU2QdiOslmCtB57Oo
NEXT_PUBLIC_SITE_URL=http://localhost:3000
